*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5efe7;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:#f7c8d0;

    border-bottom:2px solid black;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

/* WORK */

.work{
    padding:80px 8%;
}

.work h1{
    text-align:center;
    margin-bottom:50px;
    font-size:50px;
}

.project-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.project-card{
    width:320px;

    background:white;

    border-radius:20px;

    overflow:hidden;

    border:3px solid black;

    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-10px);

    box-shadow:8px 8px 0px black;
}

.project-card img{
    width:100%;
    height:20rem;
    object-fit:cover;
}

.project-card h2{
    padding:20px 20px 10px;
}

.project-card p{
    padding:0 20px 20px;
}

.project-card button{
    margin:0 20px 20px;

    padding:12px 18px;

    border:none;

    background:#f7c8d0;

    border-radius:8px;

    cursor:pointer;

    font-weight:bold;
}

/* RESPONSIVE */

@media(max-width:768px){

    .nav-links{
        gap:15px;
    }

    .work h1{
        font-size:38px;
    }

}

footer{
    background:#f7c8d0;

    text-align:center;

    padding:20px;

    margin-top:80px;

    border-top:2px solid black;
}

.extra-text{
    max-height:0;
    overflow:hidden;
    transition:max-height 0.5s ease;

    padding:0 20px;
}

.extra-text.show{
    max-height:250px;
    padding-bottom:20px;
}

.project-card button{
    margin:0 20px 20px;

    padding:12px 18px;

    border:none;

    background:#f7c8d0;

    border-radius:8px;

    cursor:pointer;

    font-weight:bold;

    transition:0.3s;
}

.project-card button:hover{
    background:black;
    color:white;
}